USE [master]
GO
/****** Object:  Database [convinience_store]    Script Date: 14-12-2019 1:35:28 PM ******/
CREATE DATABASE [convinience_store]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'convinience_store', FILENAME = N'D:\convinience_store.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'convinience_store_log', FILENAME = N'D:\convinience_store_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [convinience_store].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [convinience_store]
GO
/****** Object:  Table [dbo].[BILL]    Script Date: 14-12-2019 1:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL](
	[BILL_ID] [int] NOT NULL,
	[TOTAL_AMT] [money] NULL,
	[TOTAL_PRICE] [money] NULL,
	[DISCOUNT] [money] NULL,
	[TOTAL_MONEY] [money] NULL,
	[STAFF_ID] [int] NULL,
	[MODIFIED_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BILL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BILL_DETAIL]    Script Date: 14-12-2019 1:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL_DETAIL](
	[BILL_ID] [int] NULL,
	[PRODUCT_ID] [int] NULL,
	[NUMBER_OF_PRODUCTS] [int] NULL,
	[UNIT_PRICE] [money] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOGIN]    Script Date: 14-12-2019 1:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOGIN](
	[USERNAME] [varchar](20) NOT NULL,
	[PASSWORD] [varchar](16) NULL,
	[STAFF_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 14-12-2019 1:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[PRODUCT_ID] [int] NOT NULL,
	[PRODUCT_TYPE_ID] [int] NULL,
	[PRODUCT_NAME] [varchar](100) NULL,
	[PRODUCT_PRICE] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCT_TYPE]    Script Date: 14-12-2019 1:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCT_TYPE](
	[PRODUCT_TYPE_ID] [int] NOT NULL,
	[PRODUCT_TYPE_NAME] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCT_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 14-12-2019 1:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STAFF](
	[STAFF_ID] [int] NOT NULL,
	[STAFF_TYPE_ID] [int] NOT NULL,
	[STAFF_NAME] [varchar](100) NULL,
	[STAFF_PHONE] [varchar](10) NULL,
	[STAFF_SOCIALID] [varchar](9) NULL,
	[STAFF_DOB] [datetime] NULL,
	[STAFF_GENDER] [int] NULL, --- 0: Male 1: Female, 2: Other
 CONSTRAINT [PK_STAFF] PRIMARY KEY CLUSTERED 
(
	[STAFF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STAFF_TYPE_ID]    Script Date: 14-12-2019 1:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STAFF_TYPE_ID](
	[STAFF_TYPE_ID] [int] NOT NULL,
	[STAFF_TYPE_NAME] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[STAFF_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WAREHOUSE]    Script Date: 14-12-2019 1:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WAREHOUSE](
	[PRODUCT_ID] [int] NULL,
	[PRODUCT_TYPE_ID] [int] NULL,
	[PRODUCT_REMAINING] [int] NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_STAFF] FOREIGN KEY([STAFF_ID])
REFERENCES [dbo].[STAFF] ([STAFF_ID])
GO
ALTER TABLE [dbo].[BILL] CHECK CONSTRAINT [FK_BILL_STAFF]
GO
ALTER TABLE [dbo].[BILL_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_DETAIL_BILL] FOREIGN KEY([BILL_ID])
REFERENCES [dbo].[BILL] ([BILL_ID])
GO
ALTER TABLE [dbo].[BILL_DETAIL] CHECK CONSTRAINT [FK_BILL_DETAIL_BILL]
GO
ALTER TABLE [dbo].[BILL_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_DETAIL_PRODUCT] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [dbo].[BILL_DETAIL] CHECK CONSTRAINT [FK_BILL_DETAIL_PRODUCT]
GO
ALTER TABLE [dbo].[LOGIN]  WITH CHECK ADD  CONSTRAINT [FK_LOGIN_STAFF] FOREIGN KEY([STAFF_ID])
REFERENCES [dbo].[STAFF] ([STAFF_ID])
GO
ALTER TABLE [dbo].[LOGIN] CHECK CONSTRAINT [FK_LOGIN_STAFF]
GO
ALTER TABLE [dbo].[PRODUCT_TYPE]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_TYPE_PRODUCT_TYPE] FOREIGN KEY([PRODUCT_TYPE_ID])
REFERENCES [dbo].[PRODUCT_TYPE] ([PRODUCT_TYPE_ID])
GO
ALTER TABLE [dbo].[PRODUCT_TYPE] CHECK CONSTRAINT [FK_PRODUCT_TYPE_PRODUCT_TYPE]
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_STAFF_TYPE_ID] FOREIGN KEY([STAFF_TYPE_ID])
REFERENCES [dbo].[STAFF_TYPE_ID] ([STAFF_TYPE_ID])
GO
ALTER TABLE [dbo].[STAFF] CHECK CONSTRAINT [FK_STAFF_STAFF_TYPE_ID]
GO
ALTER TABLE [dbo].[WAREHOUSE]  WITH CHECK ADD  CONSTRAINT [FK_WAREHOUSE_PRODUCT] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [dbo].[WAREHOUSE] CHECK CONSTRAINT [FK_WAREHOUSE_PRODUCT]
GO
ALTER TABLE [dbo].[WAREHOUSE]  WITH CHECK ADD  CONSTRAINT [FK_WAREHOUSE_PRODUCT_TYPE] FOREIGN KEY([PRODUCT_TYPE_ID])
REFERENCES [dbo].[PRODUCT_TYPE] ([PRODUCT_TYPE_ID])
GO
ALTER TABLE [dbo].[WAREHOUSE] CHECK CONSTRAINT [FK_WAREHOUSE_PRODUCT_TYPE]
GO
USE [master]
GO
