USE [master]
GO
/****** Object:  Database [convinience_store]    Script Date: 1/7/2020 8:56:57 PM ******/
CREATE DATABASE [convinience_store]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'convinience_store', FILENAME = N'D:\convinience_store.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'convinience_store_log', FILENAME = N'D:\convinience_store_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [convinience_store].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [convinience_store]
GO
/****** Object:  Table [dbo].[BILL]    Script Date: 1/7/2020 8:56:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL](
	[BILL_ID] [int] NOT NULL,
	[TOTAL_AMT] [money] NULL,
	[TOTAL_PRICE] [money] NULL,
	[DISCOUNT] [money] NULL,
	[TOTAL_MONEY] [money] NULL,
	[STAFF_ID] [int] NULL,
	[MODIFIED_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BILL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILL_DETAIL]    Script Date: 1/7/2020 8:56:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL_DETAIL](
	[BILL_ID] [int] NULL,
	[PRODUCT_ID] [int] NULL,
	[NUMBER_OF_PRODUCTS] [int] NULL,
	[UNIT_PRICE] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGIN]    Script Date: 1/7/2020 8:56:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN](
	[USERNAME] [varchar](20) NOT NULL,
	[PASSWORD] [varchar](16) NULL,
	[STAFF_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 1/7/2020 8:56:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[PRODUCT_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_TYPE_ID] [int] NULL,
	[PRODUCT_NAME] [varchar](100) NULL,
	[PRODUCT_PRICE] [money] NULL,
 CONSTRAINT [PK__PRODUCT__52B41763461CBA61] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_TYPE]    Script Date: 1/7/2020 8:56:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_TYPE](
	[PRODUCT_TYPE_ID] [int] NOT NULL,
	[PRODUCT_TYPE_NAME] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCT_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 1/7/2020 8:56:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF](
	[STAFF_ID] [int] NOT NULL,
	[STAFF_TYPE_ID] [int] NOT NULL,
	[STAFF_NAME] [varchar](100) NULL,
	[STAFF_PHONE] [varchar](10) NULL,
	[STAFF_SOCIALID] [varchar](9) NULL,
	[STAFF_DOB] [datetime] NULL,
	[STAFF_GENDER] [int] NULL,
 CONSTRAINT [PK_STAFF] PRIMARY KEY CLUSTERED 
(
	[STAFF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF_TYPE_ID]    Script Date: 1/7/2020 8:56:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF_TYPE_ID](
	[STAFF_TYPE_ID] [int] NOT NULL,
	[STAFF_TYPE_NAME] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[STAFF_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WAREHOUSE]    Script Date: 1/7/2020 8:56:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WAREHOUSE](
	[PRODUCT_ID] [int] NULL,
	[PRODUCT_TYPE_ID] [int] NULL,
	[PRODUCT_REMAINING] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[BILL] ([BILL_ID], [TOTAL_AMT], [TOTAL_PRICE], [DISCOUNT], [TOTAL_MONEY], [STAFF_ID], [MODIFIED_DATE]) VALUES (1, 248.6686, 385775.8553, 146759.6062, 81594636.7280, 1119, CAST(N'2020-01-06T11:31:13.360' AS DateTime))
INSERT [dbo].[BILL] ([BILL_ID], [TOTAL_AMT], [TOTAL_PRICE], [DISCOUNT], [TOTAL_MONEY], [STAFF_ID], [MODIFIED_DATE]) VALUES (2, 110.7439, 202677.1348, 348790.6062, 99099991.9953, 1116, CAST(N'2019-10-05T22:51:55.030' AS DateTime))
INSERT [dbo].[BILL] ([BILL_ID], [TOTAL_AMT], [TOTAL_PRICE], [DISCOUNT], [TOTAL_MONEY], [STAFF_ID], [MODIFIED_DATE]) VALUES (3, 467.0107, 83833.3365, 432493.3305, 56397901.1559, 1116, CAST(N'2020-02-08T13:23:18.830' AS DateTime))
GO
INSERT [dbo].[BILL_DETAIL] ([BILL_ID], [PRODUCT_ID], [NUMBER_OF_PRODUCTS], [UNIT_PRICE]) VALUES (164, 164, 37, 25704837.1798)
INSERT [dbo].[BILL_DETAIL] ([BILL_ID], [PRODUCT_ID], [NUMBER_OF_PRODUCTS], [UNIT_PRICE]) VALUES (112, 112, 44, 15825404.2126)
INSERT [dbo].[BILL_DETAIL] ([BILL_ID], [PRODUCT_ID], [NUMBER_OF_PRODUCTS], [UNIT_PRICE]) VALUES (112, 112, 47, 62869262.2983)
GO
INSERT [dbo].[LOGIN] ([USERNAME], [PASSWORD], [STAFF_ID]) VALUES (N'Adrian653', N'UZEMJ', 1116)
INSERT [dbo].[LOGIN] ([USERNAME], [PASSWORD], [STAFF_ID]) VALUES (N'Alejandro64', N'YQMKT9', 1117)
INSERT [dbo].[LOGIN] ([USERNAME], [PASSWORD], [STAFF_ID]) VALUES (N'Alicia840', N'N2GJUG', 1120)
SET IDENTITY_INSERT [dbo].[PRODUCT] ON 

INSERT [dbo].[PRODUCT] ([PRODUCT_ID], [PRODUCT_TYPE_ID], [PRODUCT_NAME], [PRODUCT_PRICE]) VALUES (1, 1, N'Raptinedgicator', 9285811.6374)
INSERT [dbo].[PRODUCT] ([PRODUCT_ID], [PRODUCT_TYPE_ID], [PRODUCT_NAME], [PRODUCT_PRICE]) VALUES (2, 2, N'Varfropax', 4070765.0063)
INSERT [dbo].[PRODUCT] ([PRODUCT_ID], [PRODUCT_TYPE_ID], [PRODUCT_NAME], [PRODUCT_PRICE]) VALUES (3, 3, N'Tupbanewin', 7889061.0572)
GO
SET IDENTITY_INSERT [dbo].[PRODUCT] OFF
INSERT [dbo].[PRODUCT_TYPE] ([PRODUCT_TYPE_ID], [PRODUCT_TYPE_NAME]) VALUES (1, N'Parwerpicator')
INSERT [dbo].[PRODUCT_TYPE] ([PRODUCT_TYPE_ID], [PRODUCT_TYPE_NAME]) VALUES (2, N'Winwerover')
INSERT [dbo].[PRODUCT_TYPE] ([PRODUCT_TYPE_ID], [PRODUCT_TYPE_NAME]) VALUES (3, N'Uncadicator')
GO
INSERT [dbo].[STAFF] ([STAFF_ID], [STAFF_TYPE_ID], [STAFF_NAME], [STAFF_PHONE], [STAFF_SOCIALID], [STAFF_DOB], [STAFF_GENDER]) VALUES (1111, 4, N'Abbott', N'0605573504', N'232647097', CAST(N'1961-07-31T03:21:28.570' AS DateTime), 2)
INSERT [dbo].[STAFF] ([STAFF_ID], [STAFF_TYPE_ID], [STAFF_NAME], [STAFF_PHONE], [STAFF_SOCIALID], [STAFF_DOB], [STAFF_GENDER]) VALUES (1112, 9, N'Lam', N'9433578775', N'812607833', CAST(N'1985-04-28T22:38:46.800' AS DateTime), 2)
INSERT [dbo].[STAFF] ([STAFF_ID], [STAFF_TYPE_ID], [STAFF_NAME], [STAFF_PHONE], [STAFF_SOCIALID], [STAFF_DOB], [STAFF_GENDER]) VALUES (1113, 8, N'Cowan', N'9598447666', N'990813587', CAST(N'1957-06-25T13:34:59.650' AS DateTime), 2)
INSERT [dbo].[STAFF_TYPE_ID] ([STAFF_TYPE_ID], [STAFF_TYPE_NAME]) VALUES (1, N'Staff')
INSERT [dbo].[STAFF_TYPE_ID] ([STAFF_TYPE_ID], [STAFF_TYPE_NAME]) VALUES (2, N'Adminstator')
INSERT [dbo].[STAFF_TYPE_ID] ([STAFF_TYPE_ID], [STAFF_TYPE_NAME]) VALUES (3, N'Staff')
INSERT [dbo].[WAREHOUSE] ([PRODUCT_ID], [PRODUCT_TYPE_ID], [PRODUCT_REMAINING]) VALUES (89, 89, 472)
INSERT [dbo].[WAREHOUSE] ([PRODUCT_ID], [PRODUCT_TYPE_ID], [PRODUCT_REMAINING]) VALUES (7, 7, 260)
INSERT [dbo].[WAREHOUSE] ([PRODUCT_ID], [PRODUCT_TYPE_ID], [PRODUCT_REMAINING]) VALUES (63, 63, 109)
GO
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_STAFF] FOREIGN KEY([STAFF_ID])
REFERENCES [dbo].[STAFF] ([STAFF_ID])
GO
ALTER TABLE [dbo].[BILL] CHECK CONSTRAINT [FK_BILL_STAFF]
GO
ALTER TABLE [dbo].[BILL_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_DETAIL_BILL] FOREIGN KEY([BILL_ID])
REFERENCES [dbo].[BILL] ([BILL_ID])
GO
ALTER TABLE [dbo].[BILL_DETAIL] CHECK CONSTRAINT [FK_BILL_DETAIL_BILL]
GO
ALTER TABLE [dbo].[BILL_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_DETAIL_PRODUCT] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [dbo].[BILL_DETAIL] CHECK CONSTRAINT [FK_BILL_DETAIL_PRODUCT]
GO
ALTER TABLE [dbo].[LOGIN]  WITH CHECK ADD  CONSTRAINT [FK_LOGIN_STAFF] FOREIGN KEY([STAFF_ID])
REFERENCES [dbo].[STAFF] ([STAFF_ID])
GO
ALTER TABLE [dbo].[LOGIN] CHECK CONSTRAINT [FK_LOGIN_STAFF]
GO
ALTER TABLE [dbo].[PRODUCT_TYPE]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_TYPE_PRODUCT_TYPE] FOREIGN KEY([PRODUCT_TYPE_ID])
REFERENCES [dbo].[PRODUCT_TYPE] ([PRODUCT_TYPE_ID])
GO
ALTER TABLE [dbo].[PRODUCT_TYPE] CHECK CONSTRAINT [FK_PRODUCT_TYPE_PRODUCT_TYPE]
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_STAFF_TYPE_ID] FOREIGN KEY([STAFF_TYPE_ID])
REFERENCES [dbo].[STAFF_TYPE_ID] ([STAFF_TYPE_ID])
GO
ALTER TABLE [dbo].[STAFF] CHECK CONSTRAINT [FK_STAFF_STAFF_TYPE_ID]
GO
ALTER TABLE [dbo].[WAREHOUSE]  WITH CHECK ADD  CONSTRAINT [FK_WAREHOUSE_PRODUCT] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [dbo].[WAREHOUSE] CHECK CONSTRAINT [FK_WAREHOUSE_PRODUCT]
GO
ALTER TABLE [dbo].[WAREHOUSE]  WITH CHECK ADD  CONSTRAINT [FK_WAREHOUSE_PRODUCT_TYPE] FOREIGN KEY([PRODUCT_TYPE_ID])
REFERENCES [dbo].[PRODUCT_TYPE] ([PRODUCT_TYPE_ID])
GO
ALTER TABLE [dbo].[WAREHOUSE] CHECK CONSTRAINT [FK_WAREHOUSE_PRODUCT_TYPE]
GO
/****** Object:  StoredProcedure [dbo].[search_product_with_id]    Script Date: 1/7/2020 8:56:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[search_product_with_id]
		@product_id	int
as begin
	select pro.PRODUCT_NAME, pro.PRODUCT_ID, pro.PRODUCT_TYPE_ID, pro.PRODUCT_PRICE
	from PRODUCT pro 
	where (pro.PRODUCT_ID = @product_id)
end
GO
/****** Object:  StoredProcedure [dbo].[search_product_with_name]    Script Date: 1/7/2020 8:56:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[search_product_with_name]
	@product_name nvarchar(100)
as begin
	select pro.PRODUCT_NAME, pro.PRODUCT_ID, pro.PRODUCT_TYPE_ID, pro.PRODUCT_PRICE
	from PRODUCT pro 
	where (pro.PRODUCT_NAME = @product_name)
end
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertBill]    Script Date: 1/7/2020 8:56:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_InsertBill]
(
	@bill_id INT,
	@total_amt MONEY,
	@total_price MONEY,
	@discount MONEY,
	@total_money MONEY,
	@staff_id INT
)
AS
BEGIN
	INSERT INTO dbo.BILL
	(
	    BILL_ID,
	    TOTAL_AMT,
	    TOTAL_PRICE,
	    DISCOUNT,
	    TOTAL_MONEY,
	    STAFF_ID,
	    MODIFIED_DATE
	)
	VALUES
	(   @bill_id,        -- BILL_ID - int
	    @total_amt,     -- TOTAL_AMT - money
	    @total_price,     -- TOTAL_PRICE - money
	    @discount,     -- DISCOUNT - money
	    @total_money,     -- TOTAL_MONEY - money
	    @staff_id,        -- STAFF_ID - int
	    GETDATE() -- MODIFIED_DATE - datetime
	    )
END
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertBillDetail]    Script Date: 1/7/2020 8:56:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_InsertBillDetail]
(
	@bill_id INT,
	@product_id INT,
	@num_of_prod INT,
	@unit_price MONEY
)
AS
BEGIN
BEGIN TRAN
	DECLARE @remain INT
	SET @remain = (SELECT wh.PRODUCT_REMAINING FROM dbo.WAREHOUSE wh WHERE wh.PRODUCT_ID = @product_id)
	IF (@remain >= @num_of_prod)
	BEGIN
	INSERT INTO dbo.BILL_DETAIL
	(
	    BILL_ID,
	    PRODUCT_ID,
	    NUMBER_OF_PRODUCTS,
	    UNIT_PRICE
	)
	VALUES
	(   @bill_id,   -- BILL_ID - int
	    @product_id,   -- PRODUCT_ID - int
	    @num_of_prod,   -- NUMBER_OF_PRODUCTS - int
	    @unit_price -- UNIT_PRICE - money
	)

	UPDATE dbo.WAREHOUSE
	SET PRODUCT_REMAINING = PRODUCT_REMAINING - @num_of_prod
	WHERE PRODUCT_ID = @product_id
	END
    ELSE
	ROLLBACK TRAN
COMMIT TRAN
END 
GO
USE [master]
GO
